.imageSize {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.imageMarkdownTitle {
  margin-top: 8px;
  color: #454d64;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.60625;
}
.imageMarkdownDes {
  margin-top: 8px;
  color: #454d64;
  font-size: 15px;
  line-height: 1.60625;
}

@media screen and (min-width: 1024px) {
  .imageSize {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}
